# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated crypto material
crypto-config/

# Generated channel artifacts
channel-artifacts/

# Node modules
node_modules

# Wallet
wallet/*

.idea
build

fabricbeat

.DS_Store

/keystore

*.pyc

*.log
logs

# Visual Studio

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
